UT3/catalogo.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="libro" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="titulo" type="xs:string"/>
                        <xs:element name="isbn" type="xs:string"/>
                        <xs:element name="autores">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="autor" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="paginas" type="xs:integer"/>
                        <xs:element name="editorial" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
               </xs:element>
            </xs:sequence>    
        </xs:complexType>
    </xs:element>
</xs:schema>